:root {
  --text-color: #f0f4f5;
  --background-color: ;
  --accent-color: ;
}

body {
  font-family: "Righteous";
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 18px;
}

.navbar__logo {
  font-size: 30px;
  color: springgreen;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-right: 10px;
}

.navbar__menu li {
  font-size: 22px;
  padding: 8px 18px;
}

.navbar__menu li:hover {
  background-color: lightgreen;
  border-radius: 4px;
}

.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 30px;
  color: lightgreen;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__toogleBtn {
    display: block;
  }

  .navbar__menu.active {
    display: flex;
  }
}
